.phone {display: inline;}

img {width: 21px;
	height: 21px;
	border: 1px solid #0e3a5e;
	border-radius: 10px;
	background: #0e3a5e;}

p {color: #949b9e}

.login {display: inline;
	border: 1px solid #1a5879;
	background: #1a5879;}