.header {height: 40px;
	background: #075190;}

.menu {float: right;
	height: 40px;}

.header ul li {display: inline-block;
	text-align: center;
	margin: 0 5px;}

.bord {margin-right: 75px;
	border-right: 1px solid #56a2dc;}

.fl {position: relative;
	width: 180px;
	color: white;}

.flag {position: absolute;
	margin-left: 20px;
	left: -25px;
	top: 7px;}

.header ul li a {color: #4ea1db;
	display: inline-block;
	text-decoration: none;
	padding: 0px 20px;
	line-height: 40px;}

.header ul li.fl a {color: white;}

.header ul li a.bc {color: white;}





.ab {text-decoration: underline;}

.header ul li a:hover {color: white;
	background: #4eabda;}

body {background-image: url(../img/_bgr.png);
	background-size: cover;
	background-position: center;}

.window {width: 562px;
	/*height: 500px;*/
	margin: 50px auto 50px auto;
	background: rgba(48, 53, 43, 0.6);
	text-align: center;}

h1 {font-size: 26px;
	font-family: serif;
	color: white;
	padding-top: 10px;}

hr {margin-bottom: 15px;}

a .fb {padding-top: 15px;
	padding-bottom: 15px;
	line-height: 35px;}

h2 {color: #7c7f7c;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 40px;
	margin-left: auto;
	margin-right: auto;}

h2:before {content: "";
    display: block;
    border-top: solid 1px #666666;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: -120px;}

h2:after {content: "";
    display: block;
    border-top: solid 1px #666666;
    width: 120px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 35px;}

p {margin-top: 10px;}

.textfield {width: 276px;
    padding: 10px;
    box-sizing: border-box;
    color: #cccccc;
    background: black;}

.textfield:hover {background: #1b5288;
	color: #fffcfc;}

label {color: #c0c0bf;}

.btn {width: 153px;
	height: 30px;
	margin-top: 10px;
	background: #50aedb;
	border-radius: 5px;
	color: white;}

.agree {color: #cccccc;
	padding: 0px 131px 10px;
	width: 300px;
	font-size: 12px;}
