body {
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
}

.clearfix {
	content: "";
	display: table;
    clear: both;
}

.content_wrapper {
	width: 70%;
	float: left;
}

.logo {
	float: right;
	width: 30%;
	-webkit-box-shadow: -10px 0px 25px 0px rgba(128,128,128,0.25);
    -moz-box-shadow: -10px 0px 25px 0px rgba(128,128,128,0.25);
    box-shadow: -10px 0px 25px 0px rgba(128,128,128,0.25);
}

.pic {
	content: "";
	height: 230px;
	background-image: url(../img/logo.png);	
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

.logo h3 {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.partners, .contacts {
	margin-left: 10px;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 20px;
}

.logo .contacts a {
	color: transparent;
	width: 12px;
	height: 24px;
	background-image: url(../img/fb.png);
	background-position: 0 -2px;
	font-size: 14px;
}

.logo .contacts a:hover {
	background-position: -12px -1px;
}

.content {
	margin: 20px 0 20px 20px;
	-webkit-box-shadow: -15px 15px 25px 0px rgba(128,128,128,0.25);
    -moz-box-shadow: -15px 15px 25px 0px rgba(128,128,128,0.25);
    box-shadow: -15px 15px 25px 0px rgba(128,128,128,0.25);
}