@font-face {font-family: "League Gothic"; src: url(../fonts/league_gothic_regular.ttf);}
@font-face {font-family: "Open Sans Light"; src: url(../fonts/open-sans-light.ttf);}
@font-face {font-family: "Open Sans Extrabold"; src: url(../fonts/open_sans-extra_bold.ttf);}


/*первый блок*/
header {background-image: url(../img/bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	padding-bottom: 166px;}

.container {max-width: 960px;
	text-align: center;
	margin: 0 auto;}

/*заголовок в хедере*/
.big_logo {float: left;
	padding-top: 68px;
    margin-bottom: 165px;}

h2 {color: white;
	font-family: "League Gothic", Arial;
	font-size: 46px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #9f9495;}

span {/*background-color: linear-gradient(to top, rgba(116, 80, 131, 1), rgba(52, 38, 59, 1));
	-webkit-background-clip: text;
	color: transparent;*/
	color: rgba(116, 80, 131, 1);
    text-shadow: none;}


/*меню в хедере*/
header .nav_980 {float: right;
	margin-top: 74px;}

.nav_980 a {text-decoration: none;
 	color: white;
	font-family: "League Gothic";
	font-size: 24px;
	text-shadow: 1px 1px 2px #9f9495;
	margin-right: 47px;
	letter-spacing: 0.03px;}

.nav_980 a:last-child {margin-right: 0;}

.nav_980 a:hover {text-decoration: underline;
	text-decoration-color: #edbfff;} /*цвет не поддерживается*/

.nav_480 {display: none;}
.nav_480_item {display: none;}

/*второй блок*/
.content {background-image: url(../img/overlay.png);
	background-repeat: no-repeat;
	background-size: cover;}

.box {position: relative;}

.ar1 {width: 30px; 
	height: 40px;
	position: absolute;
	top: 185px;
	left: -45px;}

.ar1 a {display: block;}

.cont {float: left;
	width: 53.5%;
	margin-left: 0%;
	margin-top: 79px;}

h1 {color: white;
	font-family: "League Gothic";
	font-size: 58px;
	text-shadow: -1px 1px 2px #9f9495;
	text-align: left;
	letter-spacing: -0.4px;}

h3 {color: #edbfff;
	font-family: "League Gothic";
	font-size: 32px;
	text-shadow: -1px 1px 2px #9f9495;
	text-align: left;
	margin-bottom: 6px;
	letter-spacing: -0.45px;}

article {color: white;
	font-family: "Open Sans Light";
	font-size: 18px;
	text-shadow: -1px 1px 2px #9f9495;
	text-align: left;
	line-height: 24px;
	letter-spacing: -0.07px;
	word-wrap: break-word;}

.ar2 {height: 42px;
	position: absolute;
	top: 185px;
	right: 0px;}

.ar2 a {display: block;}

.iphone {width: 276px;
    height: 400px;
    float: right;
    position: relative;
    margin-right: 50px;}

.iph {display: block;
	position: absolute;
	top: -30px;
	right: 16px;}

.clearfix:after {content: "";
    display: table;
    clear: both;}

.circle div {display: inline-block;
	width: 12px;
	height: 12px;
	border: 2px solid rgba(62, 62, 71, 0.5);
	border-radius: 12px;
    background: rgba(62, 62, 71, 0.5);
    margin-right: 3px;}

.circle_f {position: absolute;
	bottom: -111px;
	left: 27%;}

.circle a {display: block;
	width: 12px;
	height: 12px;
	border-radius: 12px;}

.circle1 .a1:hover{background: rgba(255, 255, 255, 0.5);}
.circle2 .a2:hover{background: rgba(255, 255, 255, 0.5);}
.circle3 .a3:hover {background: rgba(255, 255, 255, 0.5);}
.circle4 .a4:hover{background: rgba(255, 255, 255, 0.5);}


/*третий блок*/
.violet {/*width: 2400px;*/
	background: linear-gradient(to top, #33263a, #745083);
    background-size: cover;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #33253a;
    box-shadow: 0 0 10px rgba(199, 199, 199, 0.5);}

h4 {font-family: "League Gothic";
	font-size: 30px;
    text-align: left;}

.violet h4 {font-size: 30px;
	color: white;
	text-shadow: 1px 1px 2px #4f5356;
    letter-spacing: -0.2px;}

.violet .colm_2_1_h {letter-spacing: -0.3px;}
.violet .colm_3_1_h {letter-spacing: -0.17px;}

.violet article {font-size: 16px;
    text-shadow: 1px 1px 2px #4f5356;
    margin-top: 8px;
    letter-spacing: -0.1px;}

.violet .colm_2_1_art {letter-spacing: -0.15px;}

.a_colm_1 {float: right;
	margin-top: 19px;
    margin-right: 15px;
    margin-bottom: 69px;}

.a_colm_2 {float: right;
	margin-top: 19px;
    margin-right: 11px;
    margin-bottom: 69px;}

.a_colm_3 {float: right;
	margin-top: 19px;
    margin-right: 7px;
    margin-bottom: 69px;}

.violet a {font-family: "League Gothic";
	font-size: 18px;
	color: white;
	text-shadow: 1px 1px 2px #4f5356;
	text-decoration: none;}

.violet a:hover {text-shadow: 0px 0px 15px white;}

.colm_1_1 {width: 80%;
	padding-top: 78px;
	margin-right: 0;
	margin-left: 20%;}

.colm_2_1 {width: 80%;
	padding-top: 78px;
	margin-right: 0;
	margin-left: 20%;}

.colm_3_1 {width: 79%;
	padding-top: 78px;
	margin-right: 0;
	margin-left: 20%;
	padding-left: 9px;}

.violet_colm_1 {float: left;
	position: relative;
    width: 30%;
    margin-right: 43px;
    padding-left: 5px;}

.violet_colm_2 {float: left;
	position: relative;
	width: 30%;
	margin-left: 0;
    margin-right: 38px;
    padding-left: 9px;}

.violet_colm_3 {float: right;
	position: relative;
	width: 30%;
	margin-left: 0%;}

.colm_1_img {position: absolute;
	width: 31px;
	left: 9px;
    top: 82px;}

.colm_2_img {position: absolute;
	width: 31px;
	left: 10px;
	top: 85px;}

.colm_3_img {position: absolute;
	width: 31px;
	left: 12px;
    top: 83px;}

.colm_2_img_768, .colm_3_img_768 {display: none;}


/*четвертый блок*/
.white {/*width: 2400px;*/
	background-color: #f9f9f9;}

.colm_left {float: left;
    max-width: 38%;
    background: white;
    position: relative;
    margin-top: 100px;
    margin-bottom: 8%;
    margin-left: 24px;
    padding: 3% 27px 36px 4%;}

.triangle {width: 0;
	height: 0;
	border-top: 30px solid white; 
	border-left: 30px solid transparent;
	position: absolute;
	bottom: -21px;
    right: 44px;}

.colm_left h4 {color: #454545;
	text-transform: uppercase;
	margin-bottom: 8px;
	margin-left: 1px;
	letter-spacing: -0.07px;}

.colm_left span {color: #edbfff;    
	letter-spacing: -0.3px;
    margin-left: -1px;}

.colm_left article {color: #454545; 
    letter-spacing: -1px;
    overflow: hidden;}

.colm_left img {display: block;
	position: absolute;
	top: 17px;
	left: -26px;}

.circle_2 {position: absolute;
    bottom: -43px;
    left: 34%;
    right: 34%;}

.circle_2 div {background: white;}


.circle_2_1 .a1:hover{background: #7a7a7a;}
.circle_2_2 .a2:hover{background: #7a7a7a;}
.circle_2_3 .a3:hover {background: #7a7a7a;}
.circle_2_4 .a4:hover{background: #7a7a7a;}    

.colm_right {float: left;    
	margin-top: 129px;
    margin-left: 5%;
    padding-left: 6px;}

.colm_right>a:hover .colm_right>.sprite_3 {
    background-position: 0 18px;}

.colm_right h4 {color: #454545;
	font-size: 30px;
	margin-bottom: 16px;    
	letter-spacing: -0.1px;
    margin-left: 1px;}

.row_1 .sprite_4 {width: 50px;
	height: 50px;
    background: url(../img/sprite_4.png) no-repeat;
    background-position: 1px 0px;
    margin-left: 1px;}

.row_2 .sprite_4 {width: 50px;
	height: 50px;
    background: url(../img/sprite_4.png) no-repeat;
    background-position: -49px 0px;
    margin-left: 2px;}

.row_3 .sprite_4 {width: 50px;
	height: 50px;
    background: url(../img/sprite_4.png) no-repeat;
    background-position: -98px 0px;
    margin-left: 2px;}

.colm_right h5 {font-family: "Open Sans Extrabold";
	font-size: 16px;
    color: #454545;
    text-align: left;
    margin-left: 17px;
    margin-top: 4px;
    margin-bottom: 8px;}

.colm_right p {font-family: "Open Sans Light";
	font-size: 15px;
    color: #454545;
    text-align: left;
    margin-left: 18px;
    letter-spacing: 0.3px;
    overflow: hidden;}

.sprite_4 {float: left;}

.row_1_1 {float: left;
	margin-bottom: 24px;}

.row_2_1 {float: left;
    margin-bottom: 21px;}

.row_3_1 {float: left;}
 
.colm_right a {color: #454545;
	font-family: "League Gothic";
	font-size: 18px;
    text-decoration: none;
    float: right;
    margin-top: 21px;
    margin-right: 3px;
    margin-bottom: 69px;}

.a_colm_new {display: none;}

.white .a_colm a:hover{text-shadow: 0px 0px 15px gray;}

.logo:before {content: "";
    display: block;
    border-top: solid 1px #e6e6e6;
    width: 100%;
    height: 1px;
    margin-top: 21px;
    margin-bottom: 24px;}

.logo1 {float: left;
	margin-left: 10%;
	margin-right: -5px;
	margin-bottom: 24px;
	width: 70px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: 0px 0px;}

.logo2 {float: left;
	margin-left: 7%; 
	margin-right: -4px;
	width: 74px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: -133px 0px;}

.logo3 {float: left;
	margin-left: 7%;
	margin-right: 5px;
	width: 65px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: -270px 0px;}

.logo4 {float: left;
	margin-left: 7%;
	width: 52px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: -409px 0px;}

.logo5 {float: left;
	margin-left: 7%;
	width: 104px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: -527px 0px;}

.logo6 {float: left;
    margin-left: 7%;
	width: 80px;
	height: 70px;
	background: url(../img/logos.png) no-repeat;
    background-position: -697px 0px;}

 .logo:after {content: "";
    display: block;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    height: 1px;}

/*пятый блок*/
.blue{/*width: 2400px;*/
	background-color: #ececec;}

.colm_1 {float: left;
	width: 30%;
	margin-right: 4%;   
	margin-top: 97px;
	margin-bottom: 94px;}

.colm_2 {float: left;
	width: 30%;
    margin-top: 96px;
    margin-right: 5%;
    margin-left: 12px;}

.colm_3 {float: left;
	width: 29.3%; 
	margin-top: 96px;
    margin-left: 4px;}	

.blue h2 {text-align: left;
	color: #5e5e5e;
    text-shadow: 0px 1px 1px white;}

.new {display: none;}

.blue span {color: #b9b9b9;
	text-shadow: 0px 1px 1px white;}

.blue p {text-align: left;
	font-family: "Georgia Italic";
	font-style: italic;
	font-size: 17px;
    margin-top: 14px;
    margin-bottom: 10px;
	color: #c5c5c5;
    text-shadow: 1px 1px 1px white;}

.blue h3 {font-size: 30px;
	color: #5e5e5e;
    letter-spacing: -0.25px;}

.blue article {color: #818181;
    margin-top: 7px;
    letter-spacing: 0.4px;
    font-size: 15px;
    overflow: hidden;}


/*футер*/
footer {/*width: 2400px;*/
	background-image: url(../img/bg_copy.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;}

footer .nav_980 {float: left;
	margin-top: 46px;
    margin-bottom: 48px;}

footer .nav_980 a {font-size: 20px;
	letter-spacing: -0.05px;
    margin-right: 39px;}

footer p {float: right;
	color: white;
	font-family: "Open Sans Light";
	font-size: 12px;
    margin-top: 53px;}

footer span {color: white;
	font-family: "League Gothic";
	font-weight: bold;
	font-size: 12px;    
	letter-spacing: 2.7px;
    padding-left: 1px;}



/*______________ширина 768пх____________________*/
@media (max-width: 768px) {

	.container {max-width: 728px;}

	header {/*height: 800px;*/
        padding-bottom: 154px;}

	.big_logo {padding-top: 69px;
        margin-bottom: 0;
        letter-spacing: 0.3px;}

	header .nav_980 {float: left;    
		margin-top: 28px;
        margin-bottom: 77px;    
        margin-left: -1px;}

    header .nav_980 a {letter-spacing: -0.05px;}

    .cont {height: 190px;
        overflow: hidden;
        width: 38%;
        margin-left: 24px;
        margin-top: 99px;}

    .ar1 {top: 178px;
    	left: -26px;}

    .ar2 {top: 178px;
    	right: -25px;}
    
    .iphone {width: 39%;
		margin-right: 6px;    
		top: -6px;}

	.circle_f {bottom: -62px;
        left: 29%;}

    .cont h1 {font-size: 47px;
        letter-spacing: -0.3px;}    

    .cont h3 {font-size: 24px;
        margin-top: 8px;
        overflow: hidden;
        height: 25px;    
        letter-spacing: -0.27px;}  

    .cont article {font-size: 16px;
        margin-top: 5px;
        line-height: 26px;
        letter-spacing: -0.11px;}  

    

    .violet_colm_1 {width: 32%;
        margin-right: 0px;
        padding-left: 17px;}

    .violet_colm_2 {padding-left: 10px;
    	width: 32%;
        margin-right: 0px;}

    .violet_colm_3 {padding-left: 0;
    	width: 27%;}

    .violet .colm_1_1 {width: 69%;}

    .violet .colm_2_1 {width: 69%;
        margin-left: 23%;}

    .violet .colm_3_1 {width: 76%;}

    .violet h4 {font-size: 23px;
        letter-spacing: 0.1px;}

    .violet .colm_2_1_h {letter-spacing: 0.3px;}
    
    .violet .colm_3_1_h {letter-spacing: 0.25px;
        margin-left: -5px;}

    .violet article {overflow: hidden;
    	font-size: 16px;
    	margin-top: 3px;
        height: 146px;}

    .violet .colm_2_1_art {letter-spacing: 0.01px;
        margin-left: 1px;}

    .colm_3_1_art {margin-left: -4px;}

    /*.violet .violet_colm_1 */.colm_1_img {
    	left: 10px;
    	top: 78px;}

    .violet .colm_2_img, .colm_3_img {display: none;}

    .violet .colm_2_img_768 {display: inline-block;
    	position: absolute;
    	left: 12px;
    	top: 78px;}

    .violet .colm_3_img_768 {display: inline-block;
    	position: absolute;
    	left: -7px;
    	top: 78px;}

    .a_colm_1 {margin-top: 7px;
    	margin-bottom: 0;}

    .a_colm_2 {margin-top: 7px;
    	margin-right: 13px;
        margin-bottom: 0;}

    .a_colm_3 {margin-top: 7px;
    	margin-bottom: 66px;}

    .a_colm {display: none;}

    .a_colm_new {display: inline;}
    
    .a_colm_new a:hover{text-shadow: 0px 0px 15px gray;}

    .colm_left {max-width: 35%;
        padding-top: 29px;
        padding-left: 37px;
        padding-right: 25px;
        margin-bottom: 0;
        padding-bottom: 38px;}

    .colm_left img {top: 18px;
        left: -25px;}

    .colm_left h4 {font-size: 24px;
        max-width: 50%;}

    .colm_left span {letter-spacing: 0.05px;}

    .colm_left article {overflow: hidden;
    	height: 149px;}

    .triangle {display: none;}

    .colm_right {margin-left: 6%;
        padding-left: 9px;}

    .row_1_1 {margin-bottom: 40px;}

    .row_2_1 {margin-bottom: 38px;}

    .a_colm_new {margin-right: -4px;
        margin-top: 19px;}

    .colm_1 h2, p {display: none;}

    .colm_1, .colm_2, .colm_3 {width: 20%;}

    .blue h2, .blue h3 {display: none;}

    .new {display: inline;}

    footer .nav_980 {width: 100%;
    	margin-left: 0;
    	margin-bottom: 0px;}

    footer p {width: 100%;
    	margin-right: 0;
        margin-top: 0;
        display: inline;}


}




/*______________ширина 480пх___________________*/
@media (max-width: 480px) {
	.container {max-width: 440px;}

	header {padding-bottom: 300px;}

	.big_logo {float: none;
		margin-top: 0;
		padding-top: 60px;
        text-align: center;
        letter-spacing: 0.6px;}

    .nav_980 {display: none;}

    .nav_480 {display: block;
    	color: white;
	    font-family: "League Gothic";
	    font-size: 24px;
	    text-shadow: 1px 1px 2px #9f9495;
	    padding: 0 3px;
	    margin-bottom: 50px;
	    margin-top: 50px:;
	    text-align: center;
	    letter-spacing: 0.03px;}

	.relat {position: relative;}

	.nav_480_item {display: none;
		position: absolute;
	    top: 0;
	    /*left: auto;
	    right: auto;*/}

	.nav_480_item {border: 1px solid #0f191f;
		border-radius: 3px;
		border-bottom: none;
		border-top: none;
	    background: rgba(72, 61, 79, 0.5);}

	.nav_480_item li {border-top: 1px solid #513e59;
	    border-bottom: 1px solid #36283e;
	    text-align: center;}

	.nav_480_item li a {text-decoration: none;
 	    color: white;
	    font-family: "League Gothic";
	    font-size: 24px;
	    text-shadow: 1px 1px 2px #9f9495;
	    padding: 0 3px;
	    margin-right: 41px;
	    letter-spacing: 0.03px;
	    margin: 2px auto;
	    width: 100%;}

    .nav_480:hover .nav_480_item{display: block;}

    .nav_480:hover {text-decoration: underline;
    	text-decoration-color: #edbfff;}

    .nav_480_item li:hover {background: rgba(44, 35, 50, 0.5);
        text-decoration: underline;}

    .cont article {display: none;}

    .violet_colm_1, .violet_colm_2,.violet_colm_3 {
    	float: none;
    	width: 90%;
    	margin-right: 0;}

    .colm_left, .colm_right {float: none;}

    .a_colm {display: none;}

    .colm_1, .colm_2, .colm_3 {float: none;
    	width: 100%;}

    footer .nav_980 {display: inline-block;}

	/*

    .cont {height: 190px;
        overflow: hidden;
        width: 38%;
        margin-left: 20px;
        margin-top: 98px;
        padding-left: 13px;}

    .ar1 {top: 178px;
    	left: -20px;}

    .ar2 {top: 178px;
    	right: -32px;}
    
    .iphone {width: 39%;
		margin-right: -3px;    
		top: -8px;}

	.circle_f {bottom: -64px;
        left: 85px;}

    .cont h1 {font-size: 47px;
        letter-spacing: -0.05px;}    

    .cont h3 {font-size: 24px;
        margin-top: 8px;
        overflow: hidden;
        height: 25px;}  

    .cont article {font-size: 16px;
        margin-top: 5px;
        line-height: 26px;
        letter-spacing: -0.11px;}  

	.violet article {overflow: hidden; }

    .violet_colm_1, .violet_colm_2, .violet_colm_3 {width: 21%;
        margin-right: 0px;}

    .violet h4 {font-size: 20px;}

    .violet article {font-size: 14px;}

    .violet 

    .a_colm {display: none;}

    .a_colm_new {display: inline;}
    
    .a_colm_new a:hover{text-shadow: 0px 0px 15px gray;}

    .colm_1 h2, p {display: none;}

    .colm_1, .colm_2, .colm_3 {width: 20%;}

    .blue h2, .blue h3 {display: none;}

    .new {display: inline;}

    footer nav {width: 100%;
    	margin-left: 0;
    	margin-bottom: 0px;}

    footer p {width: 100%;
    	margin-right: 0;
        margin-top: 0;
        display: inline;}


}



/*-----------------ширина 320пх*-----------------*/
@media (max-width: 320px) {
	.container {max-width: 280px;}

/*	.big_logo {margin-top: 60px;
        margin-left: 7px;
        letter-spacing: 0.6px;
        margin-bottom: 0;}*/

	header .nav_980 {display: none;}

	header .nav_480 {display: block;
	}

	.nav_480:hover .nav_480_item{display: block;}

    .content {background: none;}

	.cont {overflow: hidden;
        width: 100%;
        text-align: center;
        margin-left: 20px;
        margin-top: 98px;
        padding-left: 13px;}

    .iphone {display: none;}

    .blue {display: none;}

    footer .nav_980 {display: none;}


/*    header a {margin-left: 2px;
        letter-spacing: -0.16px;}

    .ar1 {top: 178px;
    	left: -20px;}

    .ar2 {top: 178px;
    	right: -32px;}
    
    .iphone {width: 39%;
		margin-right: -3px;    
		top: -8px;}

	.circle_f {bottom: -64px;
        left: 85px;}

    .cont h1 {font-size: 47px;
        letter-spacing: -0.05px;}    

    .cont h3 {font-size: 24px;
        margin-top: 8px;
        overflow: hidden;
        height: 25px;}  

    .cont article {font-size: 16px;
        margin-top: 5px;
        line-height: 26px;
        letter-spacing: -0.11px;}  

	.violet article {overflow: hidden; }

    .violet_colm_1, .violet_colm_2, .violet_colm_3 {width: 21%;
        margin-right: 0px;}

    .violet h4 {font-size: 20px;}

    .violet article {font-size: 14px;}

    .violet 

    .a_colm {display: none;}

    .a_colm_new {display: inline;}
    
    .a_colm_new a:hover{text-shadow: 0px 0px 15px gray;}

    .colm_1 h2, p {display: none;}

    .colm_1, .colm_2, .colm_3 {width: 20%;}

    .blue h2, .blue h3 {display: none;}

    .new {display: inline;}

    footer nav {width: 100%;
    	margin-left: 0;
    	margin-bottom: 0px;}

    footer p {width: 100%;
    	margin-right: 0;
        margin-top: 0;
        display: inline;}


}
