<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>homework 12</title>

	<script data-main="js/app" src="js/require.js"></script>

	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <script type="text/template" id="wrapper_tmpl">
    	<div class="wrapper">
            <h1>ToDo List</h1>
    		<ul class="item_list">
    			
    		</ul>
    		<div class="controlls">
    			<input type="text" class="item_value"></input>
    			<button class="item_add">Add</button>
    		</div>
    	</div>
    </script>
    <script type="text/template" id="list_tmpl">
    	<% for (var i = 0; i < data.length; i++) { %>
    	<div>
	        <li><%=data[i]%></li>
	        <button class="item_delete" data-value="<%=data[i]%>">x</button>
	        <button class="item_edit" data-value="<%=data[i]%>">Edit</button>
        </div>
    	<% }; %>
    </script>
</body>
</html>