@font-face {font-family: "Montserrat Bold"; src: url(../fonts/montserrat_bold.ttf);}
@font-face {font-family: "Montserrat Regular"; src: url(../fonts/montserrat_regular.ttf);}
@font-face {font-family: "Roboto Light"; src: url(../fonts/roboto_light.ttf);}

header {
	background-image: url(../img/mobile_images/header.png);
    background-repeat: no-repeat;
}

header {
	width: 100%;
    text-align: center;
}

.wrapper {
	max-width: 300px;
	padding: 0 3.125%;
}

.login {
	margin: 0 auto;
    padding-top: 23px;
}

.logo {
	margin: 118px auto 28px;
}

.topic h1 {
	font-size: 30px;
	margin-bottom: 11px;
}

.topic p {
	margin: 0 auto 18px;
   	max-width: 74%;
}

.topic button {
	margin-bottom: 138px;
   	width: 282px;
}

.steps p {
	max-width: 95%;
}

/*@media (min-width: 321px) {
}