@font-face {font-family: "Montserrat Bold"; src: url(../fonts/montserrat_bold.ttf);}
@font-face {font-family: "Montserrat Regular"; src: url(../fonts/montserrat_regular.ttf);}
@font-face {font-family: "Roboto Light"; src: url(../fonts/roboto_light.ttf);}

$font-main: "Montserrat Bold";
$font-main_reg: "Montserrat Regular";
$font-rob: "Roboto Light";
$button-color: #ff4e50;

@mixin clearfix {
	content: "";
    display: table;
    clear: both;
}

@viewport {
  width: device-width;
}

body {
	font-family: $font-main;
    font-size: 22px;
	box-sizing: border-box;
    text-align: center;
}

.wrapper {
	max-width: 300px;
	margin: 0 10px;
	@media screen and (min-width: 338px) {
		max-width: 748px;
		margin: 0 10px;
	}
	@media screen and (min-width: 786px) {
		max-width: 942px;
		margin: 0 auto;
	}

}
.clearfix {
	@include clearfix;
}

header {
	background-image: url(../img/mobile_images/header.png);
    background-repeat: no-repeat;
    background-position: top center;
	width: 100%;
    text-align: center;
	color: white;
	background-size: cover;
	/*исправила 338*/
	@media screen and (min-width: 470px) {
		background-image: url(../img/tablet_images/header.png);
	}
	@media screen and (min-width: 786px) {
		background-image: url(../img/desctop_images/header.png);
	}

	.top {

		.login {
			font-size: 14px;
            float: none;	
			margin: 0 auto;
            padding-top: 20px;
            width: 156px;
            /*исправила 338*/
            @media screen and (min-width: 470px) {
            	float: right;
				padding-top: 36px;
				margin-right: 5%;
			}
			@media screen and (min-width: 786px) {
				margin-right: 2px;
			}

			a {
				text-decoration: none;
				color: white;
				float: left;
				margin-right: 20px;
				margin-top: 12px;
				margin-left: 2px;
			}

			a:hover {
				text-shadow: 0px 0px 25px rgba(0,0,0,1);
			}

			.button {
				border: 2px solid white;
				border-radius: 20px;
			    width: 86px;
			    height: 33px;
			    background: transparent;
			    text-align: center;
			    line-height: 35px;
			    float: right;
			}
			.button:hover {
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
			}
		}
		.login:after {
			@include clearfix;
		}

		.logo {
			font-size: 21px;
	    	text-transform: uppercase;
	    	margin: 116px auto 28px;
	    	float: none;
	    	/*исправила 338*/
	    	@media screen and (min-width: 470px) {
	    		float: left;
				margin-top: 47px;
				margin-left: 5%;
			}
			@media screen and (min-width: 786px) {
			    margin-left: 0;
    			letter-spacing: 0.3px;
    			padding-left: 0;
    		}
	    }
	}
	
	.top:after {
		@include clearfix;
	}

	.topic {
		margin: 0 auto;
		/*исправила 338*/
		@media screen and (min-width: 470px) {
			margin-top: 117px;
		}

		h1 {
			text-transform: uppercase;
			line-height: 36px;
    		padding-left: 4px;
    		font-size: 30px;
			margin-bottom: 11px;
			/*исправила 338*/
			@media screen and (min-width: 470px) {
				font-size: 52px;
				width: 77%;
				line-height: 63px;
				padding-left: 0;
				margin: 0 auto 23px;
			}
			@media screen and (min-width: 786px) {
				width: 60%;
			}
		}

		p {
			font-family: $font-rob;
			font-size: 18px;
			line-height: 20px;
			margin: 0 auto 18px;
   			max-width: 74%;
   			/*исправила 338*/
   			@media screen and (min-width: 470px) {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 34px;
			}
		}

		button {
			border-radius: 20px;
			background: $button-color;
			height: 40px;
			font-size: 14px;
			border-color: transparent;
     		color: white;
     		font-family: $font-main;
     		margin-bottom: 138px;
   			width: 282px;
   			@media screen and (min-width: 338px) {
   				width: 228px;
   				margin-bottom: 235px;
   			}
		}
		button:hover {
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		}
	}
}


.steps {
	padding-top: 36px;
	color: white;
	text-align: left;
	padding-left: 1px;
	width: 100%;
	@media screen and (min-width: 338px) {
		padding-left: 0px;
		padding-top: 96px;
	}

	h2 {
		color: black;
		margin-bottom: 16px;
		width: 100%;
		text-align: center;
		@media screen and (min-width: 338px) {
		    padding-left: 4px;
		    margin-bottom: 35px;
		}
		@media screen and (min-width: 786px) {
			padding-left: 0;
			margin-bottom: 36px;
		}
	}

	.step_1, .step_2, .step_3 {
		width: 100%;
		height: 241px;
		margin-bottom: 9px;
		border-radius: 6px;
		position: relative;
		/*исправила 338 470*/
		@media screen and (min-width: 600px) {
			width: 31.4%;
			height: 402px;
		}
		@media screen and (min-width: 786px) {
			width: 304px;
			height: 402px;
		}

		.arrow_left {
			display: none;
			z-index: 5;
			width: 30px;
     		height: 55px;
			position: absolute;
			top: 41px;
			left: 19px;
			@media screen and (min-width: 338px) {
				display: block;
				top: 5px;
			}
			@media screen and (min-width: 786px) {
				top: 153px;
			}
		}

		.arrow_right {
			display: none;
			z-index: 5;
			width: 30px;
    		height: 55px;
			position: absolute;
			top: 41px;
			right: 24px;
			@media screen and (min-width: 338px) {
				display: block;
				top: 5px;
			}
			@media screen and (min-width: 786px) {
				top: 153px;
			}
		}

		.step_item {
			/*margin: 0 2% 20px 7%;*/
			position: absolute;
			height: 40%;
			width: 86%;


			div {
				border-radius: 20px;
				background: $button-color;
				width: 70px;
				height: 20px;
				text-transform: uppercase;
				font-size: 10px;
				font-family: $font-main_reg;
				margin-bottom: 15px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 1.5px;
    			padding-left: 2px;
			}

			h3 {
				font-size: 24px;
				line-height: 29px;
				margin-bottom: 13px;
				/*исправила 338*/
				@media screen and (min-width: 470px) {
					margin-bottom: 10px;
				}
			}

			p {
				font-family: $font-rob;
				font-size: 14px;
				color: #c5c5c5;
				line-height: 16px;
				max-width: 95%;
				margin-bottom: 20px;
				/*исправила 338*/
				@media screen and (min-width: 470px) {
				    line-height: 17px;
				}
			}
		}
	}
 
	.step_1 {
		background: url(../img/mobile_images/step_1.png) no-repeat;
        /*background-position: 0px 0px; */
        background-size: cover;
        background-position: top center;
        /*исправила 338*/
        @media screen and (min-width: 625px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: 0px 0px; 
        	float: left;
        	margin-right: 2.9%;
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/step_1.png) no-repeat;
        	margin-right: 1.7%;
        }

        .arrow_left {
        	@media screen and (min-width: 786px) {
        		left: 21px;
        	}
        }

        .step_item {
        	padding-top: 70px;
        	/*@media screen and (min-width: 412px) {
        		padding-top: 110px;
        		/*margin-left: 19px;
        	}*/
        	/*исправила 338*/
        	@media screen and (min-width: 625px) {
        		padding-top: 135px;
        	}
        	@media screen and (min-width: 665px) {
        		padding-top: 212px;
        		margin-left: 19px;
        	}
        	@media screen and (min-width: 786px) {
        		padding-top: 230px;
    			margin-left: 20px;
        	}
        	p {/*исправила 338*/
        		@media screen and (min-width: 470px) {
        			letter-spacing: -0.1px;
        		}
        		@media screen and (min-width: 786px) {
        		    line-height: 17px;
    				letter-spacing: 0px;
    			}
        	}
        }
    }

    .step_2 {
		background: url(../img/mobile_images/step_2.png) no-repeat;
        /*background-position: 0px -250px; */
        background-size: cover;
        background-position: top center;
        /*исправила 338*/
        @media screen and (min-width: 470px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: -245px 0px; 
        	float: left;
        	margin-right: 2.9%;
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/step_2.png) no-repeat;
        	margin-right: 1.4%;
        }

        .arrow_left {
        	left: 11px;
        	@media screen and (min-width: 786px) {
        		left: 21px;
        	}
        }

		.arrow_right {
			right: 9px;
			@media screen and (min-width: 786px) {
				right: 24px;
			}
		}

        .step_item {
        	padding-top: 100px;
        	@media screen and (min-width: 412px) {
        		padding-top: 110px;
        		/*margin-left: 21px;*/
        	}
        	/*исправила 338*/
        	@media screen and (min-width: 470px) {
        		padding-top: 210px;
        		margin-left: 21px;
        	}
        	@media screen and (min-width: 786px) {
        		margin-left: 19px;
        	}
        	h3 {/*исправила 338*/
        		@media screen and (min-width: 470px) {
        		    margin-bottom: 10px;
        		}
        	}
        	p {/*исправила 338*/
        		@media screen and (min-width: 470px) {
        			letter-spacing: 0.1px;
        		}
        	}
        }
    }

    .step_3 {
		background: url(../img/mobile_images/step_3.png) no-repeat;
        /*background-position: 0px -500px; */
        background-size: cover;
        background-position: top center;
        /*исправила 338*/
        @media screen and (min-width: 470px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: -493px 0px; 
        	float: left;
        	/*margin-left: 1.1px;*/
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/step_3.png) no-repeat;
        }
        .arrow_left {
        	left: 25px;
        	@media screen and (min-width: 786px) {}
        }

		.arrow_right {
			right: 20px;
			@media screen and (min-width: 786px) {}
		}
        .step_item {
        	padding-top: 70px;
        	@media screen and (min-width: 412px) {
        		padding-top: 110px;
        		/*margin-left: 23px;*/
        	}
        	/*исправила 338*/
        	@media screen and (min-width: 470px) {
        		padding-top: 192px;
        		margin-left: 23px;
        	}
        	@media screen and (min-width: 786px) {
        		padding-top: 230px;
        	}

        	h3 {/*исправила 338*/
        		@media screen and (min-width: 470px) {
        	    	margin-bottom: 11px;
        	    }
        	}
        }
    }
}

.partners {
	padding-top: 25px;
	margin-bottom: 20px;
	@media screen and (min-width: 338px) {
		padding-top: 86px;
	}
	@media screen and (min-width: 786px) {
		padding-top: 85px;
	}

	h2 {
		line-height: 26px;
   		margin-left: -4px;
		margin-bottom: 15px;
		@media screen and (min-width: 338px) {
			margin-bottom: 30px;
		}
		@media screen and (min-width: 786px) {
			margin-bottom: 32px;
		}
	}

	div {
		@media screen and (min-width: 338px) {
			margin: 0 120px;
		}
		@media screen and (min-width: 786px) {
			margin: 0 0;
		}
	}
	div:after {
		@include clearfix;
	}

	.img_container {
		position: relative;
		width: 121px;
		height: 121px;
		margin-bottom: 16px;
		margin-left: 2px;
		margin: 0 auto;

		.pictogram {
			position: absolute;
			bottom: -4px;
			right: -5px;
			@media screen and (min-width: 338px) {
				bottom: -5px;
				right: -5px;
			}
		}

		.img_item {border-radius: 50%;}

		.img_item:hover {
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
		}
	}

	.partners_container {
		width: 100%;
		margin: 0 auto;
		@media screen and (min-width: 338px) {
			width: 50%;
			float: left;
		}
		@media screen and (min-width: 786px) {
			width: 24%;
			margin-right: 1.3%;
		}

	
		h4 {
			font-size: 14px;
			margin-bottom: 13px;
			padding-top: 18px;
			@media screen and (min-width: 338px) {
				padding-top: 19px;
			}
		}

		h4:hover {
			text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
		}

		p {
			font-family: $font-rob;
			font-size: 14px;
			width: 75%;
			margin: 0 auto 25px;
			line-height: 19px;
			@media screen and (min-width: 338px) {
			    width: 92%;
    			margin-left: 3%;
    			line-height: 18px;
    			letter-spacing: 0.1px;
    			margin-bottom: 21px;
    		}
		}
	}
	.marg p {
		margin-bottom: 19px;
	}

	.partners_container:last-child {
		@media screen and (min-width: 786px) {
			margin-right: 0;
		}
	}

	button {
		width: 280px;
		height: 40px;
		border-radius: 20px;
		border: 2px solid $button-color;
		vertical-align: middle;
		text-align: center;
		color: $button-color;
		margin-bottom: 15px;	
		background: white;
		font-family: $font-main;
		letter-spacing: 0.45px;
		@media screen and (min-width: 338px) {	
		    margin-top: 48px;
		    width: 190px;
		    margin-bottom: 77px;
		}
		@media screen and (min-width: 786px) {
			margin-top: 12px;
		}
	}
	button:hover {
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	}
}

.ideas {
	    margin-left: 3px;

	h2 {
		line-height: 26px;
		margin-bottom: 14px;
		@media screen and (min-width: 338px) {	
			margin-bottom: 33px;
			margin-left: -3px;
		}
	}

	.grid {
		width: 100%;
		margin: 0 auto;

		.grid-item {
			/*width: 300px;*/
			height: 120px;
			background: cover;
			background-position: center;
			margin-bottom: 10px;
			border-radius: 5px;
			@media screen and (min-width: 338px) {
				height: 310px;
				/*float: left;*/
				margin-bottom: 20px;
			}

			h3 {
				color: white;
				vertical-align: middle;
				padding-top: 46%;
				line-height: 27px;
				/*@media screen and (min-width: 338px) {
					padding: auto 5%;
				}
				@media screen and (min-width: 786px) {
					padding: auto 5%;
				}*/
			}
				.padding_top {
					padding-top: 23%;
				}
		}		
	}

	.grid-item:hover {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}


	.width1 {
		width: 100%;
		@media screen and (min-width: 338px) {
    		width: 31.8%; /*236px;	*/
		}
		/*@media screen and (min-width: 786px) {
       		width: 31.8%; /*300px;	
		}*/
	}
	.width2 {
		width: 100%;
		@media screen and (min-width: 338px) {
			width: 66%; /*493px;*/
		}
		/*@media screen and (min-width: 786px) {
			width: 60%; /*620px;
		}*/
	}

	.tile_1 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px 0px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: 0px 0px; 
       		/*margin-left: -2px;
    		margin-right: 2.7%;*/
        }
        @media screen and (min-width: 786px) {
        	/*margin-right: 2%;*/
        	background: url(../img/desctop_images/idea_1.png) no-repeat;
       		/*background-position: 0px 0px; */
        }
	}
	
	.tile_2 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -122px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -244px 0px; 
       		
        }
        @media screen and (min-width: 786px) {
        	/*margin-right: 2.2%;*/
        	background: url(../img/desctop_images/idea_2.png) no-repeat;
       		/*background-position: -309px 0px; */
        }
        /*h3 {
        	@media screen and (min-width: 338px) {
        		padding: 55% 15%;
        	}
        }*/
	}

	.tile_3 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -249px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -488px 0px; 
       		margin-right: 0;
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/idea_3.png) no-repeat;
       		/*background-position: -618px 0px; */
        }
        /*h3 {
        	margin: 0px auto 0;
    		width: 73%;
    		padding-top: 30px;
        	@media screen and (min-width: 338px) {
        		padding: 54% 10%;
        	}
        	@media screen and (min-width: 786px) {
        		padding: 38% 15%;
        	}
        }*/
	}

	.tile_4 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -375px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -735px 0px; 
       		/*margin-left: -3px;
    		margin-right: 2.5%;*/
        }
        @media screen and (min-width: 786px) {
        	/*margin-right: 2.1%;*/
        	background: url(../img/desctop_images/idea_4.png) no-repeat;
       		/*background-position: -927px 0px; */
        }
	}

	.tile_5 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -502px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -980px 0px; 
       		margin-right: 0;
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/idea_5.png) no-repeat;
       		/*background-position: -1236px 0px; */	
       	}

       	/*h3 {
       		padding-top: 23%;
       		/*@media screen and (min-width: 338px) {
       			padding: 29% 5%;
       		}
       		@media screen and (min-width: 786px) {
       			padding: 23% 5%;
       		}
       	}*/
	}

	.tile_6 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -629px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -1482px 0px; 
       		/*margin-left: -2px;
    		margin-right: 2.4%;*/
        }
        @media screen and (min-width: 786px) {
        	/*margin-right: 2%;*/
        	background: url(../img/desctop_images/idea_6.png) no-repeat;
       		/*background-position: -1872px 0px; */
        }

        /*h3 {
        	padding-top: 23%;
       		/*@media screen and (min-width: 338px) {
       			padding: 29% 5%;
       		}
       		@media screen and (min-width: 786px) {
       			padding: 23% 5%;
       		}
       	}*/
	}

	.tile_7 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -756px; 
        @media screen and (min-width: 338px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -1986px 0px; 
       		margin-right: 0;
        }
        @media screen and (min-width: 786px) {
        	background: url(../img/desctop_images/idea_7.png) no-repeat;
       		/*background-position: -2499px 0px; */
        }
	}
}

/*.ideas:after {
	@include clearfix;
}*/

.search {

	h2 {
		padding-top: 27px;
		margin-bottom: 11px;
		line-height: 26px;
		@media screen and (min-width: 338px) {
			padding-top: 76px;
			margin-bottom: 33px;
		}
		@media screen and (min-width: 786px) {
			margin-bottom: 34px;
		}
	}
	p {
		font-size: 18px;
		font-family: $font-rob;
		margin-bottom: 18px;
		@media screen and (min-width: 338px) {
			margin-bottom: 38px;
		}
		@media screen and (min-width: 786px) {
			margin-bottom: 40px;
		}
	}
	div {
		@media screen and (min-width: 338px) {
			margin: 0px 22%;
    		text-align: left;
    	}
    	@media screen and (min-width: 786px) {
    		margin: 0 27.5%;
    	}

		input {
			border-radius: 5px;
			width: 263px;
			height: 17px;
			padding: 10px 0 10px 14px;
			font-size: 14px;
			font-family: $font-rob;
			margin-bottom: 10px;
			@media screen and (min-width: 338px) {
				margin-left: 1%;
    			margin-right: 1%;
    			width: 222px;
			}
		}
		input:hover {
			box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
		}
		button {
			width: 280px;
			height: 40px;
			border-radius: 20px;
			color: white;
			background: $button-color;
			border-color: $button-color;
			margin-bottom: 40px;
			letter-spacing: 1.33px;
			@media screen and (min-width: 338px) {
				margin-bottom: 100px;
				width: 160px;
			}
		}
		button:hover {
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
		}
	}
}

footer:before {
	content: "";
	display: block;
	border-top: 2px solid $button-color;
	@media screen and (min-width: 338px) {
		margin-bottom: 32px;
		border-width: 4px;
	}
	@media screen and (min-width: 786px) {
		margin-bottom: 29px;
	}
}

footer {
	width: 100%;
	
	.footer_items_1 {
		@media screen and (min-width: 338px) {
			float: left;
			margin-left: 4%;
			margin-right: 11%;			
		}
		@media screen and (min-width: 786px) {
			margin-left: 0px;
			margin-right: 10%;
		}

		h3 {
			margin-top: 18px;
			margin-bottom: 9px;
			color: $button-color;
			font-size: 16px;
			letter-spacing: 0.7px;
			@media screen and (min-width: 338px) {
				margin-top: 7px;
			}
		}
	}

	.footer_items_2 {
		@media screen and (min-width: 338px) {
			float: left;
			margin-right: 14%;	
		}
		@media screen and (min-width: 786px) {
			margin-left: 3px;
    		margin-top: 2px;
    		margin-right: 10%;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			color: black;
			margin-bottom: 10px;
		}
		a:hover {
			text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
		}
		nav {
			margin-bottom: 7px;
			margin-left: 3px;
            margin-top: -1px;
			@media screen and (min-width: 338px) {
			    text-align: left;
    			margin-top: 9px;
    			margin-left: 0;
    		}

    		li {
				display: inline-block;
				margin-right: 5px;
    			@media screen and (min-width: 338px) {
    				display: block;
    				margin-bottom: 2px;
    			}
				a {
					font-family: $font-rob;
					color: #8f8f8f;
					margin-bottom: 20px;
					letter-spacing: 0.5px;
				}
    		}
			li:last-child {
				margin-right: 0;
			}
		}
	}
	.footer_items_3 {
		@media screen and (min-width: 338px) {
			float: left;
			margin-right: 16%;	
		}
		@media screen and (min-width: 786px) {
			margin-top: 2px;
		}
		a {
			text-decoration: none;
			font-size: 14px;
			color: black;
			margin-bottom: 10px;
		}
		a:hover {
			text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
		}
	}
	.footer_items_4 {
		@media screen and (min-width: 338px) {
			float: left;
			margin-left: 3px;	
		}
		@media screen and (min-width: 786px) {
			float: right;
			margin-top: 3px;
		}
		p {
			text-transform: uppercase;
			font-size: 10px;
			margin-top: 14px;
			margin-bottom: 8px;
			color: #cccccc;
			letter-spacing: 1.2px;
			@media screen and (min-width: 338px) {
			    margin-top: 7px;
			    letter-spacing: 1px;
    			margin-left: 29px;
			}
		}
		img {
			margin-bottom: 20px;
			@media screen and(min-width: 338px) {
				margin-left: -2px;
			}
		}
	}
	.footer_items_4:after {
		@include clearfix;
	}
}