@font-face {font-family: "Montserrat Bold"; src: url(../fonts/montserrat_bold.ttf);}
@font-face {font-family: "Montserrat Regular"; src: url(../fonts/montserrat_regular.ttf);}
@font-face {font-family: "Roboto Light"; src: url(../fonts/roboto_light.ttf);}

$font-main: "Montserrat Bold";
$font-main_reg: "Montserrat Regular";
$font-rob: "Roboto Light";
$button-color: #ff4e50;

@mixin clearfix {
	content: "";
    display: table;
    clear: both;
}

body {
	font-family: $font-main;
    font-size: 22px;
	box-sizing: border-box;
    text-align: center;
}

.clearfix {
	@include clearfix;
}

header {
	background-image: url(../img/mobile_images/header.png);
    background-repeat: no-repeat;
	width: 100%;
    text-align: center;
	color: white;
	background-size: cover;
	@media (min-width: 336px) {
		background-image: url(../img/tablet_images/header.png);
	}

	.top {

		.login {
			font-size: 14px;
            float: none;	
			margin: 0 auto;
            padding-top: 23px;
            
            @media (min-width: 336px) {
            	float: right;
				padding-top: 40px;
				margin-right: 50px;
			}

			a {
				text-decoration: none;
				color: white;
				float: left;
				margin-right: 20px;
				margin-top: 12px;
			}

			a:hover {
				text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
			}

			.button {
				border: 2px solid white;
				border-radius: 20px;
			    width: 86px;
			    height: 33px;
			    background: transparent;
			    text-align: center;
			    line-height: 35px;
			    float: right;
			}
			.button:hover {
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
			}
		/*@include clearfix;	*/
		}

		.logo {
			font-size: 21px;
	    	text-transform: uppercase;
	    	margin: 118px auto 28px;
	    	float: none;
	    	@media (min-width: 336px) {
	    		float: left;
				margin-top: 50px;
				margin-left: 50px;
			}
	    }
	}
	
	.top:after {
		@include clearfix;
	}

	.topic {
		margin: 0 auto;
		@media (min-width: 336px) {
			margin-top: 220px;
		}

		h1 {
			text-transform: uppercase;
			line-height: 36px;
    		padding-left: 4px;
    		font-size: 30px;
			margin-bottom: 11px;
			}

		p {
			font-family: $font-rob;
			font-size: 18px;
			line-height: 20px;
			margin: 0 auto 18px;
   			max-width: 74%;
		}

		button {
			border-radius: 20px;
			background: $button-color;
			height: 40px;
			font-size: 14px;
			border-color: transparent;
     		color: white;
     		font-family: $font-main;
     		margin-bottom: 138px;
   			width: 282px;
		}
		button:hover {
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		}
	}
}

.wrapper {
	max-width: 300px;
	padding: 0 3.125%;
	@media (min-width: 336px) {
		max-width: 748px;
		padding: 0 1.5%;
	}

}

.steps {
	padding-top: 36px;
	color: white;
	text-align: left;
	padding-left: 1px;
	width: 100%;
	@media (min-width: 336px) {
		padding-left: 0px;
	}

	h2 {
		color: black;
		margin-bottom: 16px;
		width: 100%;
		text-align: center;
	}

	.step_1, .step_2, .step_3 {
		width: 300px;
		height: 241px;
		margin-bottom: 9px;
		border-radius: 6px;
		position: relative;
		@media (min-width: 336px) {
			width: 239px;
			height: 402px;
		}

		.arrow_left {
			display: none;
			width: 30px;
     		height: 55px;
			position: absolute;
			top: 5px;
			left: 1px;
			@media (min-width: 336px) {
				display: block;
			}
		}

		.arrow_right {
			display: none;
			width: 30px;
    		height: 55px;
			position: absolute;
			top: 5px;
			right: 1px;
			@media (min-width: 336px) {
				display: block;
			}
		}

		.step_item {
			margin: 0 2% 20px 7%;


			div {
				border-radius: 20px;
				background: $button-color;
				width: 70px;
				height: 20px;
				text-transform: uppercase;
				font-size: 10px;
				font-family: $font-main_reg;
				margin-bottom: 15px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 1.5px;
    			padding-left: 2px;
			}

			h3 {
				font-size: 24px;
				line-height: 29px;
				margin-bottom: 13px;
			}

			p {
				font-family: $font-rob;
				font-size: 14px;
				color: #c5c5c5;
				line-height: 16px;
				max-width: 95%;
			}
		}
	}
 
	.step_1 {
		background: url(../img/mobile_images/steps_sprite.png) no-repeat;
        background-position: 0px 0px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: 0px 0px; 
        	float: left;
        	margin-right: 1%;
        }
        .step_item {
        	padding-top: 70px;
        	@media (min-width: 336px) {
        		padding-top: 212px;
        	}
        }
    }

    .step_2 {
		background: url(../img/mobile_images/steps_sprite.png) no-repeat;
        background-position: 0px -250px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: -245px 0px; 
        	float: left;
        	margin-right: 1%;
        }
        .step_item {
        	padding-top: 100px;
        	@media (min-width: 336px) {
        		padding-top: 260px;
        	}
        }
    }

    .step_3 {
		background: url(../img/mobile_images/steps_sprite.png) no-repeat;
        background-position: 0px -500px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        	background-position: -493px 0px; 
        	float: left;
        }
        .step_item {
        	padding-top: 70px;
        	@media (min-width: 336px) {
        		padding-top: 214px;
        	}
        }
    }
}

.partners {
	padding-top: 25px;
	margin-bottom: 20px;

	h2 {
		line-height: 26px;
   		margin-left: -4px;
		margin-bottom: 15px;
	}

	.img_container {
		position: relative;
		width: 121px;
		height: 121px;
		margin-bottom: 16px;
		margin-left: 2px;
		margin: 0 auto;

		.pictogram {
			position: absolute;
			bottom: -2px;
			right: 1px;
		}

		.img_item {border-radius: 50%;}

		.img_item:hover {
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
		}
	}

	.partners_container {
		width: 100%;
		margin: 0 auto;
		@media (min-width: 336px) {
			width: 50%;
			float: left;
		}

	
		h4 {
			font-size: 14px;
			margin-bottom: 13px;

		}

		h4:hover {
			text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
		}

		p {
			font-family: $font-rob;
			font-size: 14px;
			width: 75%;
			margin-bottom: 25px;
			margin-left: 12%;
			line-height: 19px;
		}
	}

	.partners_container:after {
		@include clearfix;
	}
	
	button {
		width: 280px;
		height: 40px;
		border-radius: 20px;
		border: 2px solid $button-color;
		vertical-align: middle;
		text-align: center;
		color: $button-color;
		margin-bottom: 15px;	
		background: white;
		font-family: $font-main;
		letter-spacing: 0.45px;	
	}
	button:hover {
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	}
}

.ideas {
	    margin-left: 3px;

	h2 {
		line-height: 26px;
		margin-bottom: 14px;
	}

	.tile {
		width: 300px;
		height: 120px;
		margin-bottom: 10px;
		border-radius: 5px;
		@media (min-width: 336px) {
			height: 310px;
			float: left;
			margin-right: 1%;
		}

		h3 {
			color: white;
			padding-top: 50px;
		}
	}

	.tile:hover {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}

	.tile_1 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px 0px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: 0px 0px; 
       		width: 236px;
        }
	}
	
	.tile_2 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -122px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -244px 0px; 
       		width: 236px;
        }
	}

	.tile_3 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -249px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -488px 0px; 
       		width: 236px;
        }
	}

	.tile_4 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -375px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -735px 0px; 
       		width: 236px;
        }
	}

	.tile_5 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -502px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -980px 0px; 
       		width: 491px;
        }
	}

	.tile_6 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -629px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -1482px 0px; 
       		width: 491px;
        }
	}

	.tile_7 {
		background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
        background-position: 0px -756px; 
        @media (min-width: 336px) {
        	background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
       		background-position: -1986px 0px; 
       		width: 236px;
        }
	}
}

.ideas:after {
	@include clearfix;
}

.search {

	h2 {
		padding-top: 27px;
		margin-bottom: 14px;
		line-height: 26px;
	}
	p {
		font-size: 18px;
		font-family: $font-rob;
		margin-bottom: 18px;
	}
	input {
		border-radius: 5px;
		width: 263px;
		height: 17px;
		padding: 10px 0 10px 14px;
		font-size: 14px;
		font-family: $font-rob;
		margin-bottom: 10px;
	}
	input:hover {
		box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
	}
	button {
		width: 280px;
		height: 40px;
		border-radius: 20px;
		color: white;
		background: $button-color;
		border-color: $button-color;
		margin-bottom: 40px;
		letter-spacing: 1.33px;
	}
	button:hover {
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	}
}

footer:before {
	content: "";
	display: block;
	border-top: 2px solid $button-color;
}

footer {
	h3 {
		margin-top: 18px;
		margin-bottom: 9px;
		color: $button-color;
		font-size: 16px;
		letter-spacing: 0.7px;
	}
	a {
		text-decoration: none;
		font-size: 14px;
		color: black;
		margin-bottom: 10px;
	}
	a:hover {
		text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
	}
	nav {
		    margin-bottom: 7px;
		a {
			font-family: $font-rob;
			color: #8f8f8f;
			margin-bottom: 20px;
			margin-right: 8px;
		}
		a:last-child {
			margin-right: 0;
		}
	}
	p {
		text-transform: uppercase;
		font-size: 10px;
		margin-top: 14px;
		margin-bottom: 10px;
		color: #cccccc;
		letter-spacing: 1.2px;
	}
	img {
		margin-bottom: 20px;
	}

}