@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/montserrat_bold.ttf); }
@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/montserrat_regular.ttf); }
@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/roboto_light.ttf); }
body {
  font-family: "Montserrat Bold";
  font-size: 22px;
  box-sizing: border-box;
  text-align: center; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

header {
  background-image: url(../img/mobile_images/header.png);
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  color: white;
  background-size: cover; }
  @media (min-width: 336px) {
    header {
      background-image: url(../img/tablet_images/header.png); } }
  header .top .login {
    font-size: 14px;
    float: none;
    margin: 0 auto;
    padding-top: 23px;
    /*@include clearfix;	*/ }
    @media (min-width: 336px) {
      header .top .login {
        float: right;
        padding-top: 40px;
        margin-right: 50px; } }
    header .top .login a {
      text-decoration: none;
      color: white;
      float: left;
      margin-right: 20px;
      margin-top: 12px; }
    header .top .login a:hover {
      text-shadow: 0px 0px 20px #969696; }
    header .top .login .button {
      border: 2px solid white;
      border-radius: 20px;
      width: 86px;
      height: 33px;
      background: transparent;
      text-align: center;
      line-height: 35px;
      float: right; }
    header .top .login .button:hover {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75); }
  header .top .logo {
    font-size: 21px;
    text-transform: uppercase;
    margin: 118px auto 28px;
    float: none; }
    @media (min-width: 336px) {
      header .top .logo {
        float: left;
        margin-top: 50px;
        margin-left: 50px; } }
  header .top:after {
    content: "";
    display: table;
    clear: both; }
  header .topic {
    margin: 0 auto; }
    @media (min-width: 336px) {
      header .topic {
        margin-top: 130px; } }
    header .topic h1 {
      text-transform: uppercase;
      line-height: 36px;
      padding-left: 4px;
      font-size: 30px;
      margin-bottom: 11px; }
      @media (min-width: 336px) {
        header .topic h1 {
          font-size: 52px;
          width: 60%; } }
    header .topic p {
      font-family: "Roboto Light";
      font-size: 18px;
      line-height: 20px;
      margin: 0 auto 18px;
      max-width: 74%; }
      @media (min-width: 336px) {
        header .topic p {
          font-size: 24px; } }
    header .topic button {
      border-radius: 20px;
      background: #ff4e50;
      height: 40px;
      font-size: 14px;
      border-color: transparent;
      color: white;
      font-family: "Montserrat Bold";
      margin-bottom: 138px;
      width: 282px; }
    header .topic button:hover {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75); }

.wrapper {
  max-width: 300px;
  padding: 0 3.125%; }
  @media (min-width: 336px) {
    .wrapper {
      max-width: 748px;
      padding: 0 1.5%; } }

.steps {
  padding-top: 36px;
  color: white;
  text-align: left;
  padding-left: 1px;
  width: 100%; }
  @media (min-width: 336px) {
    .steps {
      padding-left: 0px; } }
  .steps h2 {
    color: black;
    margin-bottom: 16px;
    width: 100%;
    text-align: center; }
  .steps .step_1, .steps .step_2, .steps .step_3 {
    width: 300px;
    height: 241px;
    margin-bottom: 9px;
    border-radius: 6px;
    position: relative; }
    @media (min-width: 336px) {
      .steps .step_1, .steps .step_2, .steps .step_3 {
        width: 239px;
        height: 402px; } }
    .steps .step_1 .arrow_left, .steps .step_2 .arrow_left, .steps .step_3 .arrow_left {
      display: none;
      width: 30px;
      height: 55px;
      position: absolute;
      top: 5px;
      left: 1px; }
      @media (min-width: 336px) {
        .steps .step_1 .arrow_left, .steps .step_2 .arrow_left, .steps .step_3 .arrow_left {
          display: block; } }
    .steps .step_1 .arrow_right, .steps .step_2 .arrow_right, .steps .step_3 .arrow_right {
      display: none;
      width: 30px;
      height: 55px;
      position: absolute;
      top: 5px;
      right: 1px; }
      @media (min-width: 336px) {
        .steps .step_1 .arrow_right, .steps .step_2 .arrow_right, .steps .step_3 .arrow_right {
          display: block; } }
    .steps .step_1 .step_item, .steps .step_2 .step_item, .steps .step_3 .step_item {
      margin: 0 2% 20px 7%; }
      .steps .step_1 .step_item div, .steps .step_2 .step_item div, .steps .step_3 .step_item div {
        border-radius: 20px;
        background: #ff4e50;
        width: 70px;
        height: 20px;
        text-transform: uppercase;
        font-size: 10px;
        font-family: "Montserrat Regular";
        margin-bottom: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.5px;
        padding-left: 2px; }
      .steps .step_1 .step_item h3, .steps .step_2 .step_item h3, .steps .step_3 .step_item h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 13px; }
      .steps .step_1 .step_item p, .steps .step_2 .step_item p, .steps .step_3 .step_item p {
        font-family: "Roboto Light";
        font-size: 14px;
        color: #c5c5c5;
        line-height: 16px;
        max-width: 95%; }
  .steps .step_1 {
    background: url(../img/mobile_images/steps_sprite.png) no-repeat;
    background-position: 0px 0px; }
    @media (min-width: 336px) {
      .steps .step_1 {
        background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        background-position: 0px 0px;
        float: left;
        margin-right: 1%; } }
    .steps .step_1 .step_item {
      padding-top: 70px; }
      @media (min-width: 336px) {
        .steps .step_1 .step_item {
          padding-top: 212px; } }
  .steps .step_2 {
    background: url(../img/mobile_images/steps_sprite.png) no-repeat;
    background-position: 0px -250px; }
    @media (min-width: 336px) {
      .steps .step_2 {
        background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        background-position: -245px 0px;
        float: left;
        margin-right: 1%; } }
    .steps .step_2 .step_item {
      padding-top: 100px; }
      @media (min-width: 336px) {
        .steps .step_2 .step_item {
          padding-top: 260px; } }
  .steps .step_3 {
    background: url(../img/mobile_images/steps_sprite.png) no-repeat;
    background-position: 0px -500px; }
    @media (min-width: 336px) {
      .steps .step_3 {
        background: url(../img/tablet_images/steps_sprite.png) no-repeat;
        background-position: -493px 0px;
        float: left; } }
    .steps .step_3 .step_item {
      padding-top: 70px; }
      @media (min-width: 336px) {
        .steps .step_3 .step_item {
          padding-top: 214px; } }

.partners {
  padding-top: 25px;
  margin-bottom: 20px; }
  .partners h2 {
    line-height: 26px;
    margin-left: -4px;
    margin-bottom: 15px; }
  .partners .img_container {
    position: relative;
    width: 121px;
    height: 121px;
    margin-bottom: 16px;
    margin-left: 2px;
    margin: 0 auto; }
    .partners .img_container .pictogram {
      position: absolute;
      bottom: -2px;
      right: 1px; }
    .partners .img_container .img_item {
      border-radius: 50%; }
    .partners .img_container .img_item:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }
  .partners .partners_container {
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 336px) {
      .partners .partners_container {
        width: 50%;
        float: left; } }
    .partners .partners_container h4 {
      font-size: 14px;
      margin-bottom: 13px; }
    .partners .partners_container h4:hover {
      text-shadow: 0px 0px 15px #969696; }
    .partners .partners_container p {
      font-family: "Roboto Light";
      font-size: 14px;
      width: 75%;
      margin-bottom: 25px;
      margin-left: 12%;
      line-height: 19px; }
  .partners .partners_container:after {
    content: "";
    display: table;
    clear: both; }
  .partners button {
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ff4e50;
    vertical-align: middle;
    text-align: center;
    color: #ff4e50;
    margin-bottom: 15px;
    background: white;
    font-family: "Montserrat Bold";
    letter-spacing: 0.45px; }
  .partners button:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75); }

.ideas {
  margin-left: 3px; }
  .ideas h2 {
    line-height: 26px;
    margin-bottom: 14px; }
  .ideas .tile {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 5px; }
    @media (min-width: 336px) {
      .ideas .tile {
        height: 310px;
        float: left;
        margin-right: 1%; } }
    .ideas .tile h3 {
      color: white;
      padding-top: 50px; }
  .ideas .tile:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  .ideas .tile_1 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px 0px; }
    @media (min-width: 336px) {
      .ideas .tile_1 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: 0px 0px;
        width: 236px; } }
  .ideas .tile_2 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -122px; }
    @media (min-width: 336px) {
      .ideas .tile_2 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -244px 0px;
        width: 236px; } }
  .ideas .tile_3 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -249px; }
    @media (min-width: 336px) {
      .ideas .tile_3 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -488px 0px;
        width: 236px; } }
  .ideas .tile_4 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -375px; }
    @media (min-width: 336px) {
      .ideas .tile_4 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -735px 0px;
        width: 236px; } }
  .ideas .tile_5 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -502px; }
    @media (min-width: 336px) {
      .ideas .tile_5 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -980px 0px;
        width: 491px; } }
  .ideas .tile_6 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -629px; }
    @media (min-width: 336px) {
      .ideas .tile_6 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -1482px 0px;
        width: 491px; } }
  .ideas .tile_7 {
    background: url(../img/mobile_images/ideas_sprite.png) no-repeat;
    background-position: 0px -756px; }
    @media (min-width: 336px) {
      .ideas .tile_7 {
        background: url(../img/tablet_images/ideas_sprite.png) no-repeat;
        background-position: -1986px 0px;
        width: 236px; } }

.ideas:after {
  content: "";
  display: table;
  clear: both; }

.search h2 {
  padding-top: 27px;
  margin-bottom: 14px;
  line-height: 26px; }
.search p {
  font-size: 18px;
  font-family: "Roboto Light";
  margin-bottom: 18px; }
.search input {
  border-radius: 5px;
  width: 263px;
  height: 17px;
  padding: 10px 0 10px 14px;
  font-size: 14px;
  font-family: "Roboto Light";
  margin-bottom: 10px; }
.search input:hover {
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5); }
.search button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background: #ff4e50;
  border-color: #ff4e50;
  margin-bottom: 40px;
  letter-spacing: 1.33px; }
.search button:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

footer:before {
  content: "";
  display: block;
  border-top: 2px solid #ff4e50; }
  @media (min-width: 336px) {
    footer:before {
      margin-bottom: 40px; } }

footer {
  width: 100%;
  content: "";
  display: table;
  clear: both; }
  @media (min-width: 336px) {
    footer .footer_items_1 {
      float: left;
      margin-left: 40px;
      margin-right: 80px; } }
  footer .footer_items_1 h3 {
    margin-top: 18px;
    margin-bottom: 9px;
    color: #ff4e50;
    font-size: 16px;
    letter-spacing: 0.7px; }
  @media (min-width: 336px) {
    footer .footer_items_2 {
      float: left;
      margin-right: 40px; } }
  footer .footer_items_2 a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin-bottom: 10px; }
  footer .footer_items_2 a:hover {
    text-shadow: 0px 0px 15px #969696; }
  footer .footer_items_2 nav {
    margin-bottom: 7px; }
    footer .footer_items_2 nav a {
      font-family: "Roboto Light";
      color: #8f8f8f;
      margin-bottom: 20px;
      margin-right: 8px; }
    footer .footer_items_2 nav a:last-child {
      margin-right: 0; }
  @media (min-width: 336px) {
    footer .footer_items_3 {
      float: left;
      margin-right: 40px; } }
  footer .footer_items_3 a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    margin-bottom: 10px; }
  @media (min-width: 336px) {
    footer .footer_items_4 {
      float: left;
      margin-right: 40px; } }
  footer .footer_items_4 p {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #cccccc;
    letter-spacing: 1.2px; }
  footer .footer_items_4 img {
    margin-bottom: 20px; }

/*# sourceMappingURL=stylemain.css.map */
