body {background: #FFE4C4;}

h2 {font-family: Arial;
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px auto;
    text-align: center;}

.wrapper {width: 57%;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background: white;}

a {text-decoration: none;}

.checkboxes {width: 100%;}

.left {width: 49%;
    float: left;
    text-align: center;}

.right {width: 49%;
    float: right;
    text-align: center;}

.clearfix {content: " ";
    display: table;
    clear: both;}

.left p, .right p {text-align: left;
    margin: 20px 10px;}

.left label, .right label {float: none;
    top: 0;}

.left label {margin-left: 22px;}

.left .stylized {cursor: pointer;}

.left .stylized + label {cursor: pointer;}

.left .stylized:not(checked) {position: absolute;
    opacity: 0.5;
    z-index: 2;
    left: -22px;}

.left input:not(checked) + label {position: relative;
    margin-left: 22px;}

.left input:not(checked) + label:before {content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background: gray;
    border-radius: 5px;}

.left input:checked + label:before {background: green;}
 
.left input:checked + label {color: red;}